<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MkvSubtitleDemuxer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MkvSubtitleDemuxer.Properties.Settings>
            <setting name="JavaPath" serializeAs="String">
                <value>C:\Program Files (x86)\Java\jre7\bin\java.exe</value>
            </setting>
            <setting name="MkvExtractPath" serializeAs="String">
                <value>C:\Program Files (x86)\MKVToolNix\mkvextract.exe</value>
            </setting>
            <setting name="MkvInfoPath" serializeAs="String">
                <value>C:\Program Files (x86)\MKVToolNix\mkvinfo.exe</value>
            </setting>
            <setting name="MkvMergePath" serializeAs="String">
                <value>C:\Program Files (x86)\MKVToolNix\mkvmerge.exe</value>
            </setting>
        </MkvSubtitleDemuxer.Properties.Settings>
    </userSettings>
</configuration>